@font-face {
  font-family: checfont1;
  src: url("../fonts/VAGRoundedStd-Light.otf");
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.main {
  height: 100%;
  background-color: #269226;
}

#opaque {
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

#list {
  background-color: #fff;
  width: calc(75% - 50px);
  height: 80%;
  border-radius: 10px;
}

h1 {
  color: #fff;
  font-family: checfont1;
  font-size: 50px;
  margin: 10px 0px 10px 0px;
}

#zona,
#planeaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#zona div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
  padding: 30px;
}

/** #planeaciones div{
  width: calc(100% - 3em);
  align-items: center;
  font-family: checfont1;
  font-size: 3em;
  font-weight: 800;
} */

#divPlan {
  width: 100%;
  height: 100%;
}

a.btn {
  width: 100%;
  margin-bottom: 10px;
}

button.zona {
  font-family: checfont1;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  background-color: transparent !important;
  color: black !important;
  transition: 0.3s;
  border: green 5px solid;
}

button:hover {
  border: #000 5px solid;
  background-color: #269226 !important;
  color: #fff !important;
}

.en-ejecucion {
  background-color: rgb(182, 9, 9);
}

.nav {
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 2;
}

.nav .fas {
  font-weight: 900;
  font-size: 3em;
  padding: 10px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

.nav .fas:hover{
  color: rgb(107, 105, 105);
}
