@font-face {
  font-family: checfont1;
  src: url("../fonts/VAGRoundedStd-Light.otf");
}

html{
  background-color: #269226;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: checfont1;
}

.main {
  height: 100%;
  background-color: #269226;
}

#opaque {
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: calc(100% - 60px);
}

#list {
  background-color: #fff;
  width: calc(75% - 50px);
  height: 80%;
  border-radius: 10px;
}

h1 {
  color: #fff;
  font-family: checfont1;
  font-size: 50px;
  margin: 10px 0px 10px 0px;
}

#zona,
#planeaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#zona div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: auto;
  padding: 30px;
}

/** #planeaciones div{
  width: calc(100% - 3em);
  align-items: center;
  font-family: checfont1;
  font-size: 3em;
  font-weight: 800;
} */

#divPlan {
  width: 100%;
  height: 100%;
}

.card-body .btn {
  width: 100%;
  margin-bottom: 10px;
  color: white !important;
}

button.zona {
  font-family: checfont1;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
  background-color: transparent !important;
  color: black !important;
  transition: 0.3s;
  border: green 5px solid;
}

.btn.zona:hover {
  border: #000 5px solid;
  background-color: #269226 !important;
  color: #fff !important;
}

.en-ejecucion {
  background-color: rgb(182, 9, 9) !important;
  border-color: rgb(182, 9, 9) !important;
}

.nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 60px;
  z-index: 2;
  padding: 0px 20px 0px 30px;
}

#nombre {
  display: flex;
  align-items: center;
  height: 100%;
}

#nombre h3 {
  color: #fff;
  font-family: checfont1;
}

.nav .fas {
  font-weight: 900;
  font-size: 2em;
  padding: 10px;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#icons {
  display: flex;
  align-items: center;
}

.alert {
  font-family: checfont1;
  text-align: center;
}

.nav .fas:hover {
  color: rgb(212, 211, 211);
}

.hide {
  display: none !important;
}

#returnBtn {
  width: auto;
  margin: 0;
  box-shadow: 1px 1px rgba(114, 112, 112, 0.685);
  color: #fff;
  font-weight: 900;
}

#nombre h3 {
  margin: 0%;
}

#headerDetalleModal,
#headerModalTAdmin {
  width: 100%;
  background-color: green;
  border-radius: 3px 3px 0px 0px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.detalleEjec,
.trabajoAdmin {
  border-radius: 3px !important;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75) !important;
  border: 0 !important;
}

#detalleCardContentGI > .row,
#detalleCardContentGF > .row {
  padding: 0px 30px;
}

hr {
  margin: 0px 0px 10px 0px;
}

.title {
  color: rgb(133, 40, 40);
}

.detalleModal {
  padding: 30px 50px 8px 50px !important;
}

/* PULSE LOADER ANIMATION */

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  z-index: 45;
  height: 100%;
  position: absolute;
}

.pulse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background-color: #9cc12b;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

.pulse>img {
  width: 65%;
  height: 65%;
}

#loaderCalendar>.pulse {
  animation: animate2 1s linear infinite;
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 254, 0.3);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(255, 255, 254, 0);
  }

  80% {
    box-shadow: 0 0 0 50px rgba(255, 255, 254, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 254, 0);
  }
}

@keyframes animate2 {
  0% {
    box-shadow: 0 0 0 0 rgba(10, 124, 7, 0.3);
  }

  40% {
    box-shadow: 0 0 0 50px rgba(10, 124, 7, 0);
  }

  80% {
    box-shadow: 0 0 0 50px rgba(10, 124, 7, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(10, 124, 7, 0);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  html {
    background-color: #269226;
    overflow-x: hidden;
  }

  .nav {
    margin-bottom: 15px;
  }

  #list {
    background-color: #fff;
    width: calc(100% - 10px) !important;
    height: auto;
    border-radius: 10px;
  }

  #zona div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto !important;
    height: auto;
    padding: 30px;
  }

  #zona,
  #planeaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 20px,
  }

  #content {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 10px;
  }
}
