@font-face {
  font-family: checfont1;
  src: url("../fonts/VAGRoundedStd-Light.otf");
}

html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  font-family: checfont1;
}

#createInter,
#createEjec {
  height: 68%;
  justify-content: space-evenly !important;
}

.main {
  height: 100%;
}

.showNone {
  display: none !important;
}

.form-group {
  margin-bottom: 0%;
}

#rowContacto,
#rowIcon {
  justify-content: center;
}

#rowIcon {
  padding: 10px 0px;
  font-size: 150px;
}

#rowIcon {
  width: 100%;
  align-self: center;
  border-radius: 3px 3px 0px 0px;
  background: #56ab2f;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f);
}

#iconRegistrarContacto,
#iconRegistrarEntidad {
  margin-right: 10px;
}

#colRegistrarEntidad {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#btnRegistrarContacto,
#btnRegistrarEntidad {
  background-color: #28a745;
  border-color: #28a745;
}

#btnRegistrarContacto:hover,
#btnRegistrarEntidad:hover {
  background-color: #218838;
}

#formCrearContacto,
#formRegistrarEntidad {
  padding: 0% 15%;
  margin-bottom: 30px;
}

#rowBtnContacto {
  flex-wrap: nowrap;
  margin-top: 30px;
}

.direccionCharacters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataTables_scrollBody {
  z-index: 0;
}

.colBtnContacto,
.colBtnDetalle {
  display: flex;
  justify-content: center;
}

#cerrarDetalleModal {
  margin-top: 30px;
}

#intervencion,
#planeacion,
#ejecucion {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background-color: rgba(166, 168, 161, 0.3);
  border: solid 3px green;
  padding: 85px 150px 50px 150px;
}

#tableContactosEjec {
  width: 120%;
}

#planeacion,
#ejecucion,
#intervencion {
  padding: 65px 50px 8px 50px;
}

#img-intervencion {
  width: 86%;
}

.input-group-text {
  width: 215px !important;
  justify-content: center !important;
}

.header > h1 {
  padding: 8px 0px 0px 0px;
}

#createInter,
#createEjec {
  padding-top: 30px;
  margin-bottom: 20px;
}

#footer {
  background-color: rgb(156, 193, 43);
  margin-top: 30px;
  width: 100%;
  height: 115px;
  text-align: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  padding: 1.7em;
  position: fixed;
  bottom: 0;
}

#tipoGestion,
#ruralOurbano,
#solicitudEducativa {
  padding: 10px 0px 15px 0px;
  justify-content: space-evenly;
  align-items: center;
}

#intForm {
  display: flex;
  flex-direction: column;
}

#observaciones {
  width: 100%;
}

h1 {
  font-family: checfont1 !important;
  align-self: center;
}

form * {
  font-family: checfont1;
}

label {
  margin-top: 20px;
  color: green;
}

button.btn.btn-outline-secondary.border-left-0 {
  background-color: #2cd114;
  color: #fff;
}

button.btn.btn-outline-secondary.border-left-0:hover {
  background-color: #a8e063;
  color: #000;
}

.obligatorio {
  color: red !important;
  margin: 0px;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #504e4e;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #2cd114;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

#createInter,
#createEjec {
  padding: 30px 10px 0px 10px;
  height: auto;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4caf50;
}

.formRows {
  margin-bottom: 20px;
}

#form-card {
  padding: 0px 40px;
}

.header {
  width: 50%;
  background: #56ab2f;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f);
  height: 20%;
  display: flex;
  justify-content: center;
  align-content: center;
  -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: -30px;
  left: 5em;
  position: relative;
  z-index: 2;
  border-color: transparent;
  border-radius: 10px;
  text-align: center;
}

.imgNav {
  width: 2em;
  margin-right: 10px;
}

#btnVerDetalle {
  display: none;
}

#logoUM {
  width: 3em;
}

nav {
  background-color: #9cc12b !important;
  -webkit-background-color: #9cc12b !important;
}

#tableContactos {
  width: 100% !important;
}

.invalid {
  background-color: #ffa6a6 !important;
}

.alert {
  width: 100%;
  text-align: center;
}

.title {
  color: rgb(133, 40, 40);
}

.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
  padding: 1px 5px !important;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
  padding: 1px 5px !important;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

hr.hrForm {
  margin: 0px !important;
  width: 100% !important;
}

#detalleCardContentGI > .row,
#detalleCardContentGF > .row {
  padding: 0px 30px;
}

#headerDetalleModal {
  width: 100%;
  background-color: green;
  border-radius: 3px 3px 0px 0px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.detalleModal {
  padding: 30px 50px 8px 50px !important;
}

#resultadoEjecucion {
  text-align: center;
}

#divNoEjecucionDad {
  width: 90%;
  background-color: rgba(74, 198, 36, 0.4);
  height: 40px;
  border-radius: 3px;
  text-align: center;
  transition: 0.3s;
}

#divNoEjecucionDad > div > label {
  color: black;
  margin-top: 10px;
}

.custom-file-label {
  margin: 0% !important;
}

.danger {
  background-color: rgba(255, 54, 54, 0.5) !important;
}

.modal-header {
  background-color: rgba(255, 0, 0, 0.5) !important;
}

#rowNovedad {
  justify-content: center;
}

#colCaractPoblacion {
  border-left: solid 1px rgba(0, 0, 0, 0.2);
}

input#lugarEncuentro,
#direccionFirst,
#direccionSecond,
#direccionThird,
#nombreEntidad {
  text-transform: uppercase;
}

#headerDetalle {
  position: absolute;
  top: -30px;
  width: 50%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
  background: linear-gradient(to right, #a8e063, #56ab2f);
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 8px 0px 0px 0px;
  align-self: center;
}

#rowTableContactos {
  overflow-x: auto;
}

hr {
  margin: 15px 0px 0px 0px;
}

.detalleEjec {
  border-radius: 3px !important;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75) !important;
  border: 0 !important;
}

#colDetalle {
  margin-top: 25px;
  padding-right: 60px;
}

@media screen and (min-width: 770px) and (max-width: 992px) {
  #intervencion {
    margin-bottom: 13px;
    padding: 55px 20px 10px 20px;
  }

  .detalleModal {
    padding: 30px 30px 8px 30px !important;
  }

  .header {
    width: 71%;
    text-align: center;
    margin-bottom: -42px;
    padding: 6px;
  }

  #colDetalle {
    display: none;
  }

  #btnVerDetalle {
    display: block !important;
  }

  #intervencion,
  #planeacion,
  #ejecucion {
    margin-bottom: 13px;
  }

  #coordinadoraInt {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: -3;
    opacity: 0.2;
  }

  #colCreateInter,
  #colCreateEjec {
    height: 100%;
  }

  #intervencion,
  #planeacion,
  #ejecucion {
    background-color: rgba(166, 168, 161, 0.5);
    height: auto;
  }

  #coordinadoraInt > img {
    width: 90%;
  }

  #createInter,
  #createEjec {
    padding: 30px 10px 0px 10px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1171px) {
  #intervencion,
  #planeacion,
  #ejecucion {
    margin-bottom: 20px;
    padding: 70px 40px 15px 40px !important;
  }

  .header {
    text-align: center;
    margin-bottom: -42px;
    padding: 6px;
  }

  #btnVerDetalle {
    display: block !important;
  }

  #colDetalle {
    display: none;
  }
}

@media screen and (max-width: 769px) {
  #comunaObarrio {
    padding: 5px 0px 0px 0px;
  }

  #btnRegistrarEntidad {
    margin-top: 15px;
  }

  .detalleModal {
    padding: 30px 30px 8px 30px !important;
  }

  #createInter,
  #createEjec {
    height: 88%;
  }

  #colDetalle {
    display: none;
  }

  #form-card {
    height: 100%;
  }

  #btnVerDetalle {
    display: block !important;
  }

  #coordinadoraInt {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: -3;
    opacity: 0.2;
  }

  #coordinadoraInt > img {
    width: 90%;
  }

  .input-group-text {
    font-size: 14px;
  }

  #intervencion,
  #planeacion,
  #ejecucion {
    margin-bottom: 13px;
    background-color: rgba(166, 168, 161, 0.5);
    height: auto;
    padding: 50px 10px 0px 10px;
  }

  #createInter,
  #createEjec {
    margin-bottom: 0%;
  }

  h1 {
    font-size: 1.5em;
  }

  #form-card {
    padding: 0px 10px 0px 10px;
  }

  .direccion1 {
    width: 31%;
  }

  .header {
    width: 95%;
    height: auto;
    margin-bottom: -19px;
    left: 5px;
    position: relative;
    padding: 6px;
    z-index: 2;
  }

  nav {
    justify-content: center !important;
  }
}

@media screen and (min-width: 1172px) {
  .gj-datepicker {
    width: 85% !important;
  }

  #colDatepicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}

@media screen and (min-width: 360px) and (max-width: 991px) {
  #craOcll {
    margin-bottom: 10px;
  }

  .direccion1 {
    width: 31% !important;
  }

  hr {
    margin: 15px 0px 0px 0px;
  }

  #btnRegistrarEntidad {
    margin-top: 15px;
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  #craOcll {
    margin-bottom: 10px;
  }

  .direccion1 {
    width: 100%;
  }

  #btnRegistrarEntidad {
    margin-top: 15px;
  }

  .direccionCharacters{
    width: 100%;
    margin: 5px 0px 5px 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .direccion1 {
    width: 31% !important;
  }
}
