@font-face {
  font-family: checfont1;
  src: url('../fonts/VAGRoundedStd-Light.otf');
}

body {
  font-family: checfont1;
}

a.navbar-brand {
  width: 50%;
  font-size: 1.4em;
  color: white !important;
}


a.navbar-brand:hover {
  color: #e8e8e8 !important;
}

ul.navbar-nav {
  margin-left: 40%;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

li.nav-item.active, li.nav-item  {
  display: flex;
  align-items: center;
}
#nav_home{
  margin-right: 1em;
}

nav.navbar {
  background-color: rgb(156, 193, 43);
}

span.h5 {
  margin-bottom: 0;
  color: white;
}

a.nav-link {
  color: white !important;
}

a.nav-link:hover {
  color: #e8e8e8 !important;
}

button.navbar-toggler {
  background-color: white;
}

button.navbar-toggler:hover {
  background-color: #e8e8e8;
}

img.logo-min {
  width: 7%;
  margin-right: 0.4em;
}

div.container {
  margin-top: 2em;
}

label.radio-inline {
  margin-right: 1em;
}
.list-group-item.active{
    background-color: rgb(156, 193, 43);
    border-color: rgb(156, 193, 43);
}
div.columna-intervenciones{
    height: 30em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

div.container, div.container-fluid{
    color: rgb(0, 120, 43);
}
.btn-success{
    background-color: rgb(0, 120, 43);
    border-color: #1e7e34;
}
div.list-group{
    margin-top: 1em;
}

#preguntaContacto{
  display:none;
}
td.fc-event-container{
  cursor: pointer;
}

.grisTexto{
  color: rgb(139, 141, 142);
}

.filaTitulos{
  font-size: 0.9em;
  text-align: center;

}

.filaRadio{
  font-size: 0.9em;
  text-align: center;

}

.centerRadio{
  display: flex;
  justify-content: center;
}

label.radio-inline{
  margin: 0;
}

.lineaCentro{
  border-left: 1px solid rgb(230, 234, 236);
  padding-left: 6em;
  margin-left: 10em;
}

.fecha-ejec-form{
  width: 100%;
}
.lineaCentro .row{
  margin-bottom: 1em;
}
.centrado-vertical{
  display: flex;
  align-items: center;
}
.centrado-vertical label{
  margin: 0;
}

.filaRadio{
  display: flex;
  align-items: center;
  justify-content: center;

}
.container-fluid .row.coord-main{
  margin-top: 2em;
}
a.card-link{
  color: rgb(0, 120, 43);
}
a.card-link:hover{
  color: rgb(2, 145, 52);
}
div.card-actions{
  margin-top: 1em;
}
.card-body{
  padding-bottom: 0.5em;
}
.card{
  margin-top: 0.5em;
  background-color: #F5F5F5;
}

#map{
  width: 100%;
  height: 25em;
  border: 1px solid rgb(139, 141, 142);
  border-radius: 10px;
}

.boton-dashboard{
  width: 7em;
  height: 7em;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  color: #fff;
  margin-left: 2em;
  cursor: pointer;
}

.botones-container{
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  width: 100%;
  padding: 1em;
  padding-right: 0;
}
.boton-dashboard.btn-verde{
  background-color: rgb(156, 193, 43);
}
.boton-dashboard.btn-gris{
  background-color: rgb(139, 141, 142);
}
.boton-dashboard.btn-verde:hover{
  background-color: rgb(189, 221, 83);
}
.boton-dashboard.btn-gris:hover{
  background-color: rgb(190, 190, 190);
}

.col-interv-coord{
  height: 34em;
  overflow: auto;
}

.sub-cont-botones{
  display: flex;
}
