@font-face {
  font-family: checfont1;
  src: url('../fonts/VAGRoundedStd-Light.otf');
}

body {
  font-family: checfont1;
}

a.navbar-brand {
  width: 50%;
  font-size: 1.4em;
  color: white !important;
}


a.navbar-brand:hover {
  color: #e8e8e8 !important;
}

ul.navbar-nav {
  margin-left: 40%;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

li.nav-item.active {
  display: flex;
  align-items: center;
}

nav.navbar {
  background-color: rgb(156, 193, 43);
}

span.h5 {
  margin-bottom: 0;
  color: white;
}

a.nav-link {
  color: white !important;
}

a.nav-link:hover {
  color: #e8e8e8 !important;
}

button.navbar-toggler {
  background-color: white;
}

button.navbar-toggler:hover {
  background-color: #e8e8e8;
}

img.logo-min {
  width: 7%;
  margin-right: 0.4em;
}

div.container {
  margin-top: 2em;
}

label.radio-inline {
  margin-right: 1em;
}
.list-group-item.active{
    background-color: rgb(156, 193, 43);
    border-color: rgb(156, 193, 43);
}
div.columna-intervenciones{
    height: 30em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

div.container{
    color: rgb(0, 120, 43);
}
.btn-success{
    background-color: rgb(0, 120, 43);
    border-color: #1e7e34;
}
div.list-group{
    margin-top: 1em;
}

#preguntaContacto{
  display:none;
}
td.fc-event-container{
  cursor: pointer;
}
label.grisTexto{
  color: rgb(139, 141, 142);
}
