@font-face {
    font-family: checfont1;
    src: url('../fonts/VAGRoundedStd-Light.otf');
}

body {
    font-family: checfont1;
}

a.navbar-brand {
    width: 50%;
    font-size: 1.4em;
    color: white !important;
}

a.navbar-brand:hover {
    color: #e8e8e8 !important;
}

ul.navbar-nav {
    margin-left: 40%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

li.nav-item.active,
li.nav-item {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-left: 1em;
}

nav.navbar {
    background-color: rgb(156, 193, 43);
}

span.h5 {
    margin-bottom: 0;
    color: white;
}

a.nav-link {
    color: white !important;
}

a.nav-link:hover {
    color: #e8e8e8 !important;
}

button.navbar-toggler {
    background-color: white;
}

button.navbar-toggler:hover {
    background-color: #e8e8e8;
}

img.logo-min {
    width: 7%;
    margin-right: 0.4em;
}

div.container {
    margin-top: 4em;
}

label.radio-inline {
    margin-right: 1em;
}

.list-group-item.active {
    background-color: rgb(156, 193, 43);
    border-color: rgb(156, 193, 43);
}

div.columna-intervenciones {
    height: 30em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

div.container,
div.container-fluid {
    color: rgb(0, 120, 43);
}

.btn-success {
    background-color: rgb(0, 120, 43);
    border-color: #1e7e34;
}

div.list-group {
    margin-top: 1em;
}

#preguntaContacto {
    display: none;
}

td.fc-event-container {
    cursor: pointer;
}

.grisTexto {
    color: rgb(139, 141, 142);
}

.filaTitulos {
    font-size: 0.9em;
    text-align: center;
}

.filaRadio {
    font-size: 0.9em;
    text-align: center;
}

.centerRadio {
    display: flex;
    justify-content: center;
}

label.radio-inline {
    margin: 0;
}

.lineaCentro {
    border-left: 1px solid rgb(230, 234, 236);
    padding-left: 6em;
    margin-left: 10em;
}

.fecha-ejec-form {
    width: 100%;
}

.lineaCentro .row {
    margin-bottom: 1em;
}

.centrado-vertical {
    display: flex;
    align-items: center;
}

.centrado-vertical label {
    margin: 0;
}

.filaRadio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid .row.coord-main {
    margin-top: 2em;
}

a.card-link {
    color: rgb(0, 120, 43);
}

a.card-link:hover {
    color: rgb(2, 145, 52);
}

div.card-actions {
    margin-top: 1em;
}

.card-body {
    padding-bottom: 0.5em;
}

.card {
    margin-top: 0.5em;
    background-color: #F5F5F5;
}

#map {
    width: 100%;
    height: 25em;
    border: 1px solid rgb(139, 141, 142);
    border-radius: 10px;
}

.boton-dashboard {
    width: 7em;
    height: 7em;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color: #fff;
    margin-left: 2em;
    cursor: pointer;
}

.botones-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 1em;
    padding-right: 0;
}

.boton-dashboard.btn-verde {
    background-color: rgb(156, 193, 43);
}

.boton-dashboard.btn-gris {
    background-color: rgb(139, 141, 142);
}

.boton-dashboard.btn-verde:hover {
    background-color: rgb(189, 221, 83);
}

.boton-dashboard.btn-gris:hover {
    background-color: rgb(190, 190, 190);
}

.col-interv-coord {
    height: 34em;
    overflow: auto;
}

.sub-cont-botones {
    display: flex;
}

.botonContenedor {
    text-align: center;
    margin-bottom: 0.5em;
}

.espaciado {
    margin-top: 0.7em;
}

.estatica {
    position: fixed !important;
    right: -350px;
    top: 100px;
    z-index: 10 !important;
}

.estatica2 {
    position: fixed;
    margin-left: 300px;
    margin-top: -94px;
    width: 20%
}

.imagenGestora{
    position: fixed !important;
    right: -260px;
    top: 100px;
    z-index: 10 !important;
}

.planeacionImg {
    position: fixed;
    width: 30%;
    margin-left: 200px;
    margin-top: -30px;
}

#tamanoImagen {
    width: 80%;
    height: 80%;
}

.posicionBtnBancoHerramientas {
    position: fixed;
    margin-left: 315px;
    margin-top: 305px;
    width: 150px;
    text-align: center;
}

.posicionGrupoBotones {
    margin-left: 14px;
}

.centrado-welcome {
    right: -200px;
}

.bigTittle h1 {
    font-size: 3em;
}

nav.fixed-top {
    position: sticky;
}

.imgwelcome {
    margin-left: 270px;
    margin-top: 100px;
    width: 70%;
}

.posicioningreso {
    position: fixed;
    right: 300px;
    bottom: 260px;
}

.padding {
    padding-left: 80px;
}

#selectbasicEntidad {
    width: 87.6%;
    margin-bottom: 10px;
}

#selectbasicVereda {
    width: 87.6%;
    margin-bottom: 10px;
}

#selectbasicBarrio {
    width: 87.6%;
    margin-bottom: 10px;
}

#selectbasicComuna {
    width: 87.6%;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #9CC12B;
    border-color: #9CC12B;
    cursor: pointer;
}

.btn-primary.botonEnLinea {
    margin-bottom: 10px;
}

.btn-primary:hover {
    background-color: rgb(145, 179, 37);
    border-color: rgb(145, 179, 37);
}

.btn-primary:focus {
    box-shadow: 0 0 0 3px rgba(145, 179, 37, 0.5);
}

.nuevaEntidadDiv {
    display: none;
    margin-bottom: 10px;
}

.customBack {
    background-color: #ebebeb;
    border-color: #1e7e34;
    border: 1px solid currentColor;
    padding: 1em;
    border-radius: 10px;
}

.fondoBlanco {
    background-color: #fff;
}

.selectDerecha {
    align-content: left;
}

#footer {
    border-width: 90px;
    background-color: rgb(156, 193, 43);
    margin-top: 50px;
    height: 100%;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 1.8em;
}

.detalle-intervencion-coord b {
    color: rgb(80, 80, 80);
}

.nav-tabs .nav-link.active {
    color: #1e7e34 !important;
}

a.card-link {
    cursor: pointer;
}

button.list-group-item {
    cursor: pointer;
}

button.btn.btn-success {
    cursor: pointer;
}

buttonbtn.btn-sm.btn-success {
    cursor: pointer;
}

.modal {
    max-height: 400px;
    overflow: auto;
}