nav.navbar.navbar-default{
  height: 80px;
  background-color: #9CC129;
}
nav.navbar .navbar-header a.navbar-brand img{
  width: 50px;
}
nav.navbar .navbar-left{
  padding-left: 23em;
  height: 80px;
  padding-top: 0.4em;
}
nav.navbar .container-fluid, nav.navbar .navbar-header, nav.navbar .navbar-right{
  height: 100%;
}
.navbar-right{
  padding-right: 2em;
}
.navbar-right li {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-default .navbar-nav > li > a{
  font-size: 1.7em;
  color: #00782B;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #026b27;
}
