body{
  margin: 0%;
  padding: 0%;
}

#main {
  display: flex;
  flex-flow: column nowrap;
  padding: 1em;
  margin-left: 335px;
}
.welcome-container {
  width: 100%;
  text-align: center;
  background-image: url('../../img/main-fondo.jpg');
  background-size: cover;
  height: 100%;
  display: flex;
}
.welcome-container h1{
  font-size: 6em;
  color: #FFF;
  z-index: 1;
  display: none;
  margin-top: 3em;
}
.cover-div{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  top: 1em;
  left: 1em;
  right: 1em;
  bottom: 1em;
}
#girl-gen{
  width: 100%;
}
.gen-img-container{
  width: 20%;
  display: flex;
  align-items: right;
}
.text-title-container{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 1em;
  padding-right: 2em;
}
.floating-text{
  width: 100%;
  height: 23em;
  text-align: justify;  
  font-size: 1.1em;
  padding-left: 1em;
}

.floating-text2{
  width: 100%;
  height: 5em;
  text-align: justify;  
  font-size: 1.1em;
  padding-left: 1em;
}
.gen-block{
  display: flex;
  flex-flow: row wrap;
}

.gen-title{
  align-self: center;
  color: #00782B;
  font-size: 4.5em;
}
.gen-titulo-seccion{
  width: 40%;
  display: flex;
  margin-top: 3em;
}
.gen-titulo-seccion img{
  width: 30%;
}
#main h3{
  color: #00782B;
  text-align: center;
  margin: 0;
}
.filters-col h3{
  padding-top: 1em;
}
#main .row{
  height: 100%;
}
.filter-container{
  padding-top: 5em;
}
.ficheros-area{
  background-color: #bfbbbb;
  height: 100%;
  padding: 0;
}
  .tab-area{
    background-color: #bfbbbb;
    height: 100%;
    padding: 0;

}
.fich-title{
  width: 100%;
  background-color: #EAEAEA;
  padding: 1em;
}
.fich-found{
  padding: 2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.fich-found .file-group{
  width: 22%;
  height: 100px;
  margin-right: 1em;
  margin-top: 1em;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #FFF;
  border-radius: 5px;
  padding: 1em;
  padding-top: 1.5em;
  overflow: hidden;
  cursor: pointer;
}
.fich-found .file-group:hover{
  background-color: #EAEAEA;
}
.fich-found .file-group span.glyphicon{
  width: 40%;
  height: 45%;
}
.fich-found .file-group .file-text{
  width: 100%;
  height: 45%;
}

a.list-group-item{
  display: flex;
  justify-content: space-between;

}
