#col-izq{
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  padding-left: 0;
  padding-right: 0;
  justify-content: space-between;
  padding-top: 2em;
  padding-bottom: 2em;
  position: fixed;
}
.logo-img {
  display: flex;
  justify-content: center;
}
.logo-img img{
  width: 95%;
  margin-bottom: 5px;
}
.um-img {
  display: flex;
  justify-content: center;
}
.um-img img{
  width: 200px;
  height: 80px;
}
.lista-opciones{
  display: flex;
  flex-flow: column nowrap;
}
.lista-opciones a{
  width: 100%;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 2em;
  padding-right: 2em;
  border-bottom: 1px solid #EAEAEA;
  color: #A1A1A5;
  font-family: titles;
  font-size: 1.4em;
  display: flex;
  align-items: center;
}
.lista-opciones a:first-child{
  border-top: 1px solid #EAEAEA;
}
.lista-opciones a:hover{
  color: #00782B !important;
  text-decoration: none;
  cursor: pointer;
}
.lista-opciones a img{
  width: 18%;
  margin-right: 1.2em;
}
